@model SharpbenchWeb.Models.BenchmarkModel
@{
    ViewData["Title"] = "Home Page";
}


<div>
    @using (Html.BeginForm("RunBenchmark", "Home"))
    {
        <table>                        
            @for (var row = 0; row < Model.BenchmarkData.Rows; row++)
            {
                <tr>
                    @for (var column = 0; column < Model.BenchmarkData.Columns; column++)
                    {
                        var key = row + "_" + column;
                        <td>
                            <div id="editor_@key">@Model.BenchmarkData.GetSourceCode(row, column)</div>
                            <input type="hidden" id="hidden_@key" name="formData.SourceCode[@row][@column]"/>
                            <script type="text/javascript">
                                $(function() {
                                    var editor = ace.edit("editor_@key");
                                    editor.setTheme("ace/theme/chrome");
                                    editor.getSession().setMode("ace/mode/csharp");
                                    $("#hidden_@(key)").data("editor", editor);
                                });
                            </script>
                        </td>
                    }
                    @if (row == 0)
                    {
                        <td rowspan="@Model.BenchmarkData.Rows">@Html.ActionLink("Add column", "AddColumn")</td>
                    }
                </tr>
            }
            <tr><td colspan="@Model.BenchmarkData.Columns">@Html.ActionLink("Add row", "AddRow")</td></tr>
        </table>

        <input type="submit" value="Run" />
    }
</div>


@section scripts
{
    <script type="text/javascript">
        
        $("form").submit(function () {            
            $("input[type=hidden]", $(this)).each(function () {
                var editor = $(this).data("editor");
                $(this).val(editor.getValue());
            });            
        });
    </script>
}
